<h2 mat-dialog-title>Modification d'un suivi</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>
        <form [formGroup]="modificationSuiviForm">
            <mat-form-field>
                <mat-label>Code du suivi</mat-label>
                <input formControlName='codeSuivi' matInput placeholder="Code du suivi">
                <mat-error *ngIf="modificationSuiviForm.controls.codeSuivi?.errors && modificationSuiviForm.controls.codeSuivi?.touched">
                  Le champ code du suivi ne peut pas être vide
                </mat-error>
            </mat-form-field><br/>

            <mat-slide-toggle [color]="accent" matInput formControlName="notifEmail">
              Notification par Email
            </mat-slide-toggle> <br/>

            <mat-slide-toggle [color]="accent" matInput formControlName="notifTelephone">
              Notification par Téléphone
            </mat-slide-toggle> <br/>
        </form> 
    </mat-card-content>
</mat-card>


 
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="modifierSuivi()">Modifier</button>
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>

