<mat-card id="card-authentification">
  <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form [formGroup]="userInscriptionForm">
          <mat-form-field class="example-full-width">
              <mat-label>Nom d'utilisateur</mat-label>
              <input formControlName='username' matInput placeholder="Nom d'utilisateur">
              <mat-error *ngIf="userInscriptionForm.controls.username?.errors && userInscriptionForm.controls.username?.touched">
                Le champ username ne peut pas être vide
              </mat-error>
          </mat-form-field><br/>
      
          <mat-form-field class="example-full-width">
              <mat-label>Mot de passe</mat-label>
              <input formControlName='password' matInput placeholder="Mot de passe" type="password">
              <mat-error *ngIf="userInscriptionForm.controls.password?.errors && userInscriptionForm.controls.password?.touched">
                  Le champ mot de passe ne peut pas être vide
              </mat-error>
          </mat-form-field><br/>

          <mat-form-field class="example-full-width">
            <mat-label>Prénom</mat-label>
            <input formControlName='firstname' matInput placeholder="Prénom">
            <mat-error *ngIf="userInscriptionForm.controls.firstname?.errors && userInscriptionForm.controls.firstname?.touched">
                Le champ prénom ne peut pas être vide
            </mat-error>
          </mat-form-field><br/>

          <mat-form-field class="example-full-width">
            <mat-label>Nom de famille</mat-label>
            <input formControlName='lastname' matInput placeholder="Nom de famille" >
            <mat-error *ngIf="userInscriptionForm.controls.lastname?.errors && userInscriptionForm.controls.lastname?.touched">
                Le champ nom de famille ne peut pas être vide
            </mat-error>
          </mat-form-field><br/>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName='email' matInput placeholder="Email">
            <mat-error *ngIf="userInscriptionForm.controls.email?.errors && userInscriptionForm.controls.email?.touched">
                Le champ email ne peut pas être vide
            </mat-error>
          </mat-form-field><br/>

          <mat-form-field class="example-full-width">
            <mat-label>Téléphone</mat-label>
            <input formControlName='telephone' matInput placeholder="Téléphone" >
            <mat-error *ngIf="userInscriptionForm.controls.telephone?.errors && userInscriptionForm.controls.telephone?.touched">
                Le champ téléphone ne peut pas être vide
            </mat-error>
          </mat-form-field><br/>
      
          <button color="accent" mat-raised-button (click)="inscription()">S'inscrire</button>
      </form> 
  </mat-card-content>
</mat-card>


