<mat-card id="card-authentification">
    <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="userConnexionForm">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input formControlName='username' matInput placeholder="Nom d'utilisateur">
                <mat-error *ngIf="userConnexionForm.controls.username?.errors && userConnexionForm.controls.username?.touched">
                  Le champ username ne peut pas être vide
                </mat-error>
            </mat-form-field><br/>
        
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input formControlName='password' matInput placeholder="Mot de passe" type="password">
                <mat-error *ngIf="userConnexionForm.controls.password?.errors && userConnexionForm.controls.password?.touched">
                    Le champ mot de passe ne peut pas être vide
                </mat-error>
            </mat-form-field><br/>
        
            <button color="accent" mat-raised-button (click)="connexion()">Se connecter</button> &nbsp;&nbsp;&nbsp;
            <button color="accent" mat-raised-button (click)="inscription()">S'inscrire</button>
        </form> 
    </mat-card-content>
</mat-card>


 