<h2 mat-dialog-title>Suppression d'un suivi</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>
        Voulez-vous vraiment supprimer ce suivi?
    </mat-card-content>
</mat-card>


 
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="supprimerSuivi()">Supprimer</button>
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>

