mat-card {
    display: inline-block;
}

input {
    width : 100%;
}

table td, table th{
    padding : 10px;
}

.deconnexion-btn{
    margin-top : 1%;
    margin-bottom : 2%;
    margin-right : 1%;
    text-align: right;
}

