<div class="deconnexion-btn">
<button  mat-stroked-button (click)="deconnexion()" aria-label="Déconnexion">Déconnexion</button>
</div>
<br/>
<mat-card id="card-suivi">
  <mat-card-header>
      <mat-card-title>Liste des suivis &nbsp;&nbsp;<button mat-stroked-button (click)="addSuivi()">Ajouter un suivi</button><br/>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Suivi Column -->
        <ng-container matColumnDef="idSuivi">
          <th mat-header-cell *matHeaderCellDef> Id du suivi </th>
          <td mat-cell *matCellDef="let element"> {{element.idSuivi}} </td>
        </ng-container>

        <!-- code Suivi Column -->
        <ng-container matColumnDef="codeSuivi">
          <th mat-header-cell *matHeaderCellDef> Code du suivi </th>
          <td mat-cell *matCellDef="let element"> {{element.codeSuivi}} </td>
        </ng-container>

        <!-- Statut Suivi Column -->
        <ng-container matColumnDef="statutSuivi">
          <th mat-header-cell *matHeaderCellDef> Statut du suivi </th>
          <td mat-cell *matCellDef="let element"> {{element.libelleStatut}} </td>
        </ng-container>

        <!-- Notif Email Column -->
        <ng-container matColumnDef="notifSuivi">
          <th mat-header-cell *matHeaderCellDef> Notifications du suivi </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-slide-toggle
                  [color]="accent"
                  [checked]= "element.notifEmail"
                  [disabled]="true">
                Email
              </mat-slide-toggle> &nbsp;&nbsp;
              <mat-slide-toggle
                  [color]="accent"
                  [checked]= "element.notifTelephone"
                  [disabled]="true">
                Téléphone
              </mat-slide-toggle>
          </td>
        </ng-container>

        <!-- Boutons de controles -->
        <ng-container matColumnDef="controleSuivi">
          <th mat-header-cell *matHeaderCellDef> Notifications du suivi </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-stroked-button (click)="modifierSuivi(element)" aria-label="Modifier">Modifier</button>&nbsp;&nbsp;
            <button mat-stroked-button (click)="supprimerSuivi(element)" aria-label="Supprimer">Supprimer</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      </table>
  </mat-card-content>