/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  text-align: center;}

mat-card{
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 5px;
    padding : 2%;
    display: inline-block;
}


